<h1>Descriptive Statistics Results</h1>
<div>
<dl>
    <dt class="text-align-right list-inline">Numbers</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_numbers %></dd>
    
    <dt class="text-align-right list-inline">Sorted Numbers</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @sorted_numbers %></dd>
    
    <dt class="text-align-right list-inline">Count</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @counted_numbers %></dd>
    
    <dt class="text-align-right list-inline">Minimum</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_minimum %></dd>
    
    <dt class="text-align-right list-inline">Maximum</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_maximum %></dd>
    
    <dt class="text-align-right list-inline">Range</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_range %></dd>
    
    <dt class="text-align-right list-inline">Median</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @median %></dd>
    
    <dt class="text-align-right list-inline">Sum</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_sum %></dd>
    
    <dt class="text-align-right list-inline">Mean</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_mean%></dd>
    
    <dt class="text-align-right list-inline">Variance</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @variance %></dd>
    
    <dt class="text-align-right list-inline">Standard Deviation</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @standard_deviation %></dd>
    
    <dt class="text-align-right list-inline">Mode</dt>
    <dd class="font-weight-normal text-align-left list-inline-item"><%= @mode %></dd>
    </dl>
</div>
<div>
    <a href="/descriptive_stats/new">Calculate more descriptive statistics</a>
</div>