<h1>Descriptive Statistics Results</h1>
<div>
<dl class="dl-horizontal">
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Numbers</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_numbers %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Sorted Numbers</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @sorted_numbers %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Count</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @counted_numbers %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Minimum</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_minimum %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Maximum</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_maximum %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Range</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_range %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Median</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @median %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Sum</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_sum %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Mean</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @the_mean%></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Variance</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @variance %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Standard Deviation</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @standard_deviation %></dd>
    </div>
    <div class="list-inline">
        <dt class="text-align-right list-inline-item">Mode</dt>
        <dd class="font-weight-normal text-align-left list-inline-item"><%= @mode %></dd>
    </div>
    </dl>
</div>
<div>
    <a href="/descriptive_stats/new">Calculate more descriptive statistics</a>
</div>